@model QuanLyThuVien.Models.ChiTietMuonTra

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ChiTietMuonTra</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ma_sinhvien)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ma_sinhvien)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ngayGio_tra)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ngayGio_tra)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.soluong)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.soluong)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ghichu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ghichu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CuonSach.ten_cuonsach)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CuonSach.ten_cuonsach)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MuonTra.ma_sinhvien)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MuonTra.ma_sinhvien)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
