@model Library_Management.Models.TaiKhoan

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<h2>Details</h2>

<div>
    <h4>TaiKhoan</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Username)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LoaiTK)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoaiTK)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NhanVien.Hoten)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NhanVien.Hoten)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaNV }) |
    @Html.ActionLink("Back to List", "Index")
</p>
