@model QuanLyThuVien.Models.TaiKhoan

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="container" style="background-image: url('../../Images/library-background-form.jpg');">
    <div class="inner">
        @using (Html.BeginForm("Edit", "TaiKhoans", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            <h3>Cập nhập Tài khoản</h3>
            <div class="form-group">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.MaNV)
                <div class="form-wrapper">
                    Tài khoản:
                    @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "form-control1", @readonly = "readonly" } })
                    @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
                    @*<input type="text" class="form-control1">*@
                </div>
                <div class="form-wrapper">
                    Mật khẩu:
                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control1", type = "password", required = "required" } })
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-wrapper">
                Chức vụ:
                @Html.DropDownListFor(model => model.LoaiTK, new List<SelectListItem>
                   {
                   new SelectListItem{Text="ADMIN", Value="AD"},
                   new SelectListItem{Text="Thủ thư", Value="TT"},
                   new SelectListItem{Text="Nhân viên Thư viện", Value="NV"}}, "Lựa chọn", new { @class = "form-control1", required = "required" })
                @Html.ValidationMessageFor(model => model.LoaiTK, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input style="margin-left:-15px;background-color:Green" type="submit" value="Lưu" class=" button1" />
                </div>
            </div>
        }

        <div style="margin-left:45px;color:#ccc">
            <a href="~/TaiKhoans/Index">Quay lại</a>
        </div>
    </div>

</div>
