@model QuanLyThuVien.Models.CuonSach

@{
    ViewBag.Title = "Thêm Cuốn sách";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/bootstrap-chosen.css" rel="stylesheet" />

<div class="container" style="background-image: url('../../Images/background-form8.png');">
    <div class="inner">

        @using (Html.BeginForm("Create", "CuonSaches", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <h3>Thêm Cuốn Sách mới</h3>
            <div class="form-wrapper">
                <div class="col-md-5">Đầu sách:</div>
                @Html.DropDownList("isbn", null, htmlAttributes: new { @class = "form-control1", required = "required", @id = "isbnDropdown" })
                @Html.ValidationMessageFor(model => model.isbn, "", new { @class = "text-danger" })
            </div>

            <div class="form-wrapper">
                <div class="col-md-5">Thể loại:</div>
                @Html.DropDownList("ma_loaisach", null, htmlAttributes: new { @class = "form-control1", required = "required", @id = "cateDropdown" })
                @Html.ValidationMessageFor(model => model.ma_loaisach, "", new { @class = "text-danger" })
            </div>
            <div class="form-wrapper">
                <div class="col-md-5">
                    Tên cuốn sách:
                </div>
                @Html.EditorFor(model => model.ten_cuonsach, new { htmlAttributes = new { @class = "form-control1", required = "required" } })
                @Html.ValidationMessageFor(model => model.ten_cuonsach, "", new { @class = "text-danger" })
            </div>
            <div class="form-wrapper">
                <div class="col-md-5">Tác giả:</div>
                @Html.EditorFor(model => model.tacgia, new { htmlAttributes = new { @class = "form-control1", required = "required" } })
                @Html.ValidationMessageFor(model => model.tacgia, "", new { @class = "text-danger" })
            </div>
            <div class="form-wrapper">
                <div class="col-md-5">Năm xuất bản:</div>
                @Html.EditorFor(model => model.namxuatban, new { htmlAttributes = new { @class = "form-control1", type = "date", required = "required" } })
                @Html.ValidationMessageFor(model => model.namxuatban, "", new { @class = "text-danger" })
            </div>
            <div class="form-wrapper">
                <div class="col-md-5">Nhà xuất bản:</div>
                @Html.EditorFor(model => model.nhaxuatban, new { htmlAttributes = new { @class = "form-control1", required = "required" } })
                @Html.ValidationMessageFor(model => model.nhaxuatban, "", new { @class = "text-danger" })
            </div>
            <div class="form-wrapper">
                <div class="col-md-5">Mô tả:</div>
                @Html.EditorFor(model => model.Mota, new { htmlAttributes = new { @class = "form-control1" } })
                @Html.ValidationMessageFor(model => model.Mota, "", new { @class = "text-danger" })
            </div>
            <div class="form-wrapper">
                <div class="col-md-5">Ảnh bìa:</div>
                <input type="file" name="Hinhmota" />
                @Html.ValidationMessageFor(model => model.Hinhmota, "", new { @class = "text-danger" })
            </div>

            <input class="btn btn-success button1" type="submit" value="Xác nhận">
        }
        <div style="margin-left:238px;color:#ccc">
            @Html.ActionLink("Quay lại danh sách", "Index")
        </div>
    </div>

</div>

<script type="text/javascript">
    $(function () {
        $("#isbnDropdown").chosen();
        $("#cateDropdown").chosen();
    });
</script>