@model IEnumerable<QuanLyThuVien.Models.CuonSach>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>QUẢN LÝ SÁCH</h2>

<p>
    @Html.ActionLink("Thêm mới", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Mã cuốn sách
        </th>
        <th>
            Tên sách
        </th>
        <th>
            Đầu sách
        </th>
        <th>
            Tình trạng
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ma_cuonsach)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ten_cuonsach)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DauSach.ten_dausach)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TinhTrang)
        </td>
        <td>
            @*@Html.ActionLink("Edit", "Edit", new { id = item.ma_cuonsach }) |
            @Html.ActionLink("Details", "Details", new { id = item.ma_cuonsach }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.ma_cuonsach })*@
            <a href="~/CuonSaches/Edit?id=@item.ma_cuonsach">Cập nhật</a>
            <a href="~/CuonSaches/Details?id=@item.ma_cuonsach">Chi tiết</a>
            <a href="~/CuonSaches/Delete?id=@item.ma_cuonsach">Xóa</a>
        </td>
    </tr>
}

</table>
