@model QuanLyThuVien.Models.NhanVien

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container" style="background-image: url('../../Images/library-background-form.jpg');">
    <div class="inner">

        @using (Html.BeginForm("Create", "NhanViens", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            <h3>Thêm Nhân viên Thư viện</h3>
                <div class="form-wrapper">
                    Họ và tên: 
                    @Html.EditorFor(model => model.Hoten, new { htmlAttributes = new { @class = "form-control1" } })
                    @Html.ValidationMessageFor(model => model.Hoten, "", new { @class = "text-danger" })
                </div>

            <div class="form-wrapper">
                Giới tính:
                @Html.DropDownListFor(model => model.Gioitinh,
                new List<SelectListItem>
                {
                    new SelectListItem{Text="Nam", Value="Male"},
                    new SelectListItem{Text="Nữ", Value="Female"}}, "Lựa chọn", new { @class = "form-control1" })
                @Html.ValidationMessageFor(model => model.Gioitinh, "", new { @class = "text-danger" })
            </div>
            <div class="form-wrapper">
                Số điện thoại:
                @Html.EditorFor(model => model.SDT, new { htmlAttributes = new { @class = "form-control1" } })
                @Html.ValidationMessageFor(model => model.SDT, "", new { @class = "text-danger" })
            </div>
            <div class="form-wrapper">
                Ngày sinh
                @Html.EditorFor(model => model.NgaySinh, new { htmlAttributes = new { @class = "form-control1", @type = "date" } })
                @Html.ValidationMessageFor(model => model.NgaySinh, "", new { @class = "text-danger" })
            </div>
            <div class="form-wrapper">
                Email:
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control1" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
            <div class="form-wrapper">
                Địa chỉ:
                @Html.EditorFor(model => model.Diachi, new { htmlAttributes = new { @class = "form-control1" } })
                @Html.ValidationMessageFor(model => model.Diachi, "", new { @class = "text-danger" })
            </div>


            <input class="btn btn-success button1" type="submit" value="Xác nhận">
        }
        <div style="margin-left:238px;color:#ccc">
            @Html.ActionLink("Quay lại danh sách", "Index")
        </div>
    </div>

</div>


