@model IEnumerable<QuanLyThuVien.Models.LoaiSach>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>DANH SÁCH THỂ LOẠI</h2>

<p>
    @Html.ActionLink("Tạo mới", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Thể loại
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ten_loaisach)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ma_loaisach }) |
            @Html.ActionLink("Details", "Details", new { id=item.ma_loaisach }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ma_loaisach })
        </td>
    </tr>
}

</table>
