@model Library_Management.Models.DauSach

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>DauSach</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ngonngu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ngonngu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.bia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.bia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.trangthai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.trangthai)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TuaSach.ma_loaisach)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TuaSach.ma_loaisach)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.isbn }) |
    @Html.ActionLink("Quay về", "Index", null, new { @class = "btn btn-secondary" })
</p>
