@model QuanLyThuVien.Models.DauSach

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container" style="background-image: url('../../Images/library-background-form.jpg');">
    <div class="inner">
        @using (Html.BeginForm("Edit", "DauSaches", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.isbn)
            <h3>Cập nhập thông tin Đầu Sách</h3>
            <div class="form-group">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="form-wrapper">
                    Tên đầu sách:
                    @Html.EditorFor(model => model.ten_dausach, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ten_dausach, "", new { @class = "text-danger" })
                    @*<input type="text" class="form-control1">*@
                </div>
                <div class="form-wrapper">
                    Số lượng:
                    @Html.EditorFor(model => model.soluong, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.soluong, "", new { @class = "text-danger" })
                </div>
                <div class="form-wrapper">
                    Trạng thái:
                    @Html.EditorFor(model => model.trangthai, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.trangthai, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input style="margin-left:-15px;background-color:Green" type="submit" value="Lưu" class=" button1" />
                </div>
            </div>
        }

        <div style="margin-left:45px;color:#ccc">
            <a href="~/DauSaches/Index">Quay lại</a>
        </div>
    </div>

</div>