@using QuanLyThuVien.Models;
@using PagedList.Mvc;
@model PagedList.PagedList<DauSach>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>

    .delete-button {
        background-color: red;
        color: white;
        padding: 10px 20px;
        border-radius: 5px;
        border: none;
        text-decoration: none;
    }

    .edit-button {
        background-color: green;
        color: white;
        padding: 10px 20px;
        border-radius: 5px;
        border: none;
        text-decoration: none;
    }
</style>

<div class="row mt-4">
    <div class="col-6">
        @if (Session["Role"] != null && (Session["Role"].ToString() == "AD" || Session["Role"].ToString() == "TT"))
        {
            @Html.ActionLink("Thêm đầu sách", "Create", null, new { @class = "btn btn-primary" }) 
        <span><a class="btn btn-success" href="@Url.Action("CapNhatTrangThai", "DauSaches")">Cập nhật trạng thái</a></span>
            
        }
    </div>
    <div class="col-6">
        <form style="width: 100%; padding-left: 250px;" action="/DauSaches/Index" method="get">
            <div class="form-group">
                <input class="form-control" id="search" type="text" name="s" placeholder="Tìm kiếm đầu sách" value="" />
            </div>
        </form>
    </div>
    <table class="table">
        <tr>
            <th>
                Mã đầu sách
            </th>
            <th>
                Tên đầu sách
            </th>
            <th>
                Số lượng sách
            </th>
            <th>
                Trạng thái
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a style="text-decoration: none; color: black;" href="~/DauSaches/Details?id=@item.isbn">
                        @Html.DisplayFor(modelItem => item.isbn)
                    </a>
                </td>
                <td>
                    <a style="text-decoration: none; color: black;" href="~/DauSaches/Details?id=@item.isbn">
                        @Html.DisplayFor(modelItem => item.ten_dausach)
                    </a>
                </td>
                <td>
                    <a style="text-decoration: none; color: black;" href="~/DauSaches/Details?id=@item.isbn">
                        @Html.DisplayFor(modelItem => item.soluong)
                    </a>
                </td>
                <td>
                    <a style="text-decoration: none; color: black;" href="~/DauSaches/Details?id=@item.isbn">
                        @Html.DisplayFor(modelItem => item.trangthai)
                    </a>
                </td>
                @if (Session["Role"] != null && (Session["Role"].ToString() == "AD" || Session["Role"].ToString() == "TT"))
                {
                    <td>
                        <a class="edit-button fa fa-pencil" href="~/DauSaches/Edit?id=@item.isbn"></a>
                        <a class="delete-button fa fa-trash" href="~/DauSaches/Delete?id=@item.isbn"></a>
                    </td>
                }
            </tr>
        }

    </table>
</div>
<!-- Thêm mã phân trang -->
<br />
    Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount
    <div class="MenuTrang">
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page, currentFilter = ViewBag.CurrentFilter }))
    </div>
    <style>
        .MenuTrang li {
            display: inline;
            background-color: lightblue;
            color: white;
            padding: 10px 20px;
            margin: 2px 5px;
            border-radius: 5px;
            border: none;
            text-decoration: none;
        }
    </style>
    <!-- Kết thúc -->
