@model IEnumerable<QuanLyThuVien.Models.SinhVien>

@{
    ViewBag.Title = "Danh sách Sinh viên";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.diachi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dienthoai)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.han_sd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TheThuVien.Hoten)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.diachi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dienthoai)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.han_sd)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TheThuVien.Hoten)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ma_sinhvien }) |
            @Html.ActionLink("Details", "Details", new { id=item.ma_sinhvien }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ma_sinhvien })
        </td>
    </tr>
}

</table>
