@model Library_Management.Models.TuaSach

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


<h3>BẠN CÓ CHẮC CHẮC MUỐN XÓA CUỐN SÁCH NÀY ?</h3>
<div>
    <h4>Tựa sách</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Mã tựa sách
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ma_tuasach)
        </dd>

        <dt>
            Tựa sách
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TuaSach1)
        </dd>

        <dt>
            Tác giả
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tacgia)
        </dd>
        <dt>
            Loại sách
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoaiSach.ten_loaisach)
        </dd>

        <dt>
            Năm xuất bản
        </dt>

        <dd>
            @Html.DisplayFor(model => model.namxuatban)
        </dd>

        <dt>
            Tóm tắt
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tomtat)
        </dd>
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        @Html.ActionLink("Quay về", "Index", null, new { @class = "btn btn-secondary" })
    </div>
    }
</div>
