@model QuanLyThuVien.Models.PhieuPhat

@{
    ViewBag.Title = "Cập nhật phiếu phạt";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container" style="background-image: url('../../Images/background-form2.png');">
    <div class="inner">
        @using (Html.BeginForm("Edit", "PhieuPhats", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            <h3>Cập nhật phiếu phạt</h3>
            <hr />
            <div class="form-group">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.ma_phieumuontra)
                @Html.HiddenFor(model => model.ma_sinhvien)
                @Html.HiddenFor(model => model.MaNV)
                @Html.HiddenFor(model => model.ngay_lapphieu)
            </div>

            

            <div class="form-wrapper">
                <div class="col-md-5">Lý do</div>
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.nguyen_nhan, new List<SelectListItem>
                    {
                    new SelectListItem{Text="Trễ hạn", Value="Trễ hạn"},
                    new SelectListItem{Text="Hỏng sách", Value="Hỏng sách"},
                    new SelectListItem{Text="Mất sách", Value="Mất sách"}}, "Lựa chọn", new { @class = "form-control1", required = "required", id = "lydo", name = "lydo" })
                    @Html.ValidationMessageFor(model => model.nguyen_nhan, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-wrapper">
                <div class="col-md-5">Số ngày quá hạn</div>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Songay_quahan, new { htmlAttributes = new { @class = "form-control1", id = "songay_quahan", name = "songay_quahan" } })
                    @Html.ValidationMessageFor(model => model.Songay_quahan, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-wrapper">
                <div class="col-md-5">Tổng tiền</div>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Tongtien, new { htmlAttributes = new { @class = "form-control1", id = "tongtien", name = "tongtien", @readonly = "readonly" } })
                    @Html.ValidationMessageFor(model => model.Tongtien, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-wrapper">
                <div class="col-md-5">Số tiền thu</div>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Sotienthu, new { htmlAttributes = new { @class = "form-control1", id = "sotienthu", name = "sotienthu" } })
                    @Html.ValidationMessageFor(model => model.Sotienthu, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-wrapper">
                <div class="col-md-5">Còn lại</div>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Conlai, new { htmlAttributes = new { @class = "form-control1", id = "conlai", name = "conlai", @readonly = "readonly" } })
                    @Html.ValidationMessageFor(model => model.Conlai, "", new { @class = "text-danger" })
                </div>
            </div>



            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input style="margin-left:-15px;background-color:Green" type="submit" value="Lưu" class=" button1" />
                </div>
            </div>
        }

        <div style="margin-left:45px;color:#ccc">
            <a href="~/PhieuPhats/Index">Quay lại</a>
        </div>
    </div>

</div>

<script type="text/javascript">
    $(function () {
        $("#mphieuDropdown").chosen();
    });

    $(document).ready(function () {
        $('#songay_quahan, #sotienthu, #lydo').on('change', function () {
            var songayQuaHan = parseInt($('#songay_quahan').val());
            var sotienthu = parseInt($('#sotienthu').val());
            var nguyenNhan = $('#lydo').val();
            if (isNaN(songayQuaHan)) songayQuaHan = 0;
            if (isNaN(sotienthu)) sotienthu = 0;

            var tongtien = songayQuaHan * 3000;
            if (nguyenNhan === "Hỏng sách") {
                tongtien += 100000;
            } else if (nguyenNhan === "Mất sách") {
                tongtien += 120000;
            }

            var conlai = tongtien - sotienthu;
            $('#tongtien').val(tongtien);
            $('#conlai').val(conlai);
        });
    });
</script>